

body{
    background-color: plum;
    font-family: 'Courier New', Courier, monospace;
}

main{
    background-color: purple;
    border-radius: 1rem;
    padding: 5rem;
    text-align: center;
    font-size: 2rem;
    margin: 6rem auto;
}

main.img{
    width: 50%;
    height: 50%;
    object-fit: contain;
    border-radius: .25rem;
}

.sunny,
.moon{
    width: 5rem;
    height: 5rem;
}
